<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_fbid %><br />
    <%= f.text_field :user_fbid %>
  </div>
  <div class="field">
    <%= f.label :user_type %><br />
    <%= f.text_field :user_type %>
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_area :answer %>
  </div>
  <div class="field">
    <%= f.label :fbshare_id %><br />
    <%= f.text_field :fbshare_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
