<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Robots" content="index,follow"/>
    <meta name="ms.locale" content="zh-tw">
    <meta name="WT.sp" content="_taiwan_promo_eq_Get2Modern_" />
    <meta name="WT.z_locale" content="zh-tw"/ >

    <meta name="keywords" content="Windows XP終止支援,Office 2003終止支援,EOS,XP終止支援,XP EOS,中小企業優惠,Windows平板,Office 2013,Office 365,Windows 8.1,win 8.1,win 7, win 8"/>
    <title>老闆囧很大－職場微心結大調查，參加就抽無線劇院！</title>
    <meta name="description" content="老闆、員工悶氣別再憋了！快來填秘密問卷一吐為快，不但立即獲得實用解方，化解職場微心結，還可抽最大獎無線家庭劇院，更有優惠方案幫您輕鬆升級最新科技，就算 Windows XP / Office 2003 將於 2014/4/8 終止支援也不囧。"/>
    <meta property="og:site_name" content="老闆囧很大"/>
    <meta property="og:title" content="老闆囧很大－職場微心結大調查，參加就抽無線劇院！"/>
    <meta property="og:description" content="老闆、員工悶氣別再憋了！快來填秘密問卷一吐為快，不但立即獲得實用解方，化解職場微心結，還可抽最大獎無線家庭劇院，更有優惠方案幫您輕鬆升級最新科技，就算 Windows XP / Office 2003 將於 2014/4/8 終止支援也不囧。"/>
    <meta property="og:type" content="product"/>

    <meta name="DC.Rights" content="台灣微軟"/>
    <meta name="DC.Date" content="2014/02/18"/>
    <meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
    <meta name="DC.Subject" content="老闆囧很大－職場微心結大調查"/>
    <meta name="DC.Type" content="產品"/>

    <meta property="og:image" content="http://www.microsoft.com/taiwan/promo/eq/Get2Modern/images/thumb.jpg">
    <link rel="image_src" href="http://www.microsoft.com/taiwan/promo/eq/Get2Modern/images/thumb.jpg">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script src="/js/plugins/validation/jquery.validationEngine.js"></script>
    <script src="/js/plugins/validation/jquery.validationEngine-zh_TW.js"></script>
    
    <link rel="stylesheet" href="/js/plugins/validation/validationEngine.jquery.css" type="text/css"/>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/detect.css">
    <script src="/js/auto-full-height.min.js"></script>
    <script src="/js/iframeheight.js"></script>

    <style type="text/css">
    /*html, body { background: none; }*/
    .questions { display: none; }

    #header { height:242px }
    #header h1{ top:45px }
    #header .text{ top:78px }

    .send{ padding:0 0 50px 0 }

    .formError .formErrorContent{top:-15px!important}


    </style>

<script type="text/javascript">
  $(document).ready(function(){

    if("<%= alert || notice %>"){
        alert("<%= alert || notice %>");
    }
  });
  </script>
</head>

<body style="background:transparent">
    <div id="wrapper" style="height:1700px;">
        <div id="header" _height="none">
            <h1>老闆囧很大</h1>
            <div class="text"><img src="/images/d-01.png"/></div>
        </div>
        <!--header-->
        <div id="article" _height="auto" style="background: #ffffff;">
            <%= form_for(@record) do |f| %>
            <%= f.hidden_field(:user_type) %>

            <div id="intro">
                <h3>答題、分享、再抽獎</h3>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" valign="top">
                            1. 請作答以下題目，完成後
                            <br />            
                            按「看結果」
                        </td>
                        <td width="25%" valign="top">
                            2. 請填寫抽獎資料，並按
                            <br />            
                            「送出資料並分享至
                            <br />            
                            Facebook」
                        </td>
                        <td width="25%" valign="top">
                            3. 分享至 Facebook 是本活
                            <br />            
                            動內容，並非您的答案，
                            <br />            
                            請您放心
                        </td>
                        <td width="25%" valign="top" style="background:none">
                            4. <b>必須完成 Facebook 分享
                                <br />            
                                才具備抽獎資格</b> 
                        </td>
                    </tr>
                </table>
            </div>
            
            <div id="tab">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="15%">
                        <h3>請問您是：</h3>
                    </td>
                    <td width="85%">
                        <ul>
                            <li>
                                <a href=".owner" data-value="owner">企業負責人</a>
                            </li>
                            <li>
                                <a href=".manager" data-value="manager">主管、經理人</a>
                            </li>
                            <li>
                                <a href=".worker" data-value="worker">職人、專業工作者</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            </div>

            <div id="detect">
                <div class="questions owner">
                    <h4> <b>請問老闆</b>
                        員工哪些表現讓您覺得很囧、看不慣？
                    </h4>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="7%" align="center" valign="top">1</th>
                            <td width="93%" valign="top">
                                <div class="first">
                                    <b>難管的員工 ──</b>
                                    公司比較優秀的員工都用自己的電腦工作，資料檔案無法掌控，真可怕
                                    <input type="radio" class="validate[required] has_children" name="owner_Q1" id="owner_Q1_yes" value="yes">
                                    <label for="owner_Q1_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="owner_Q1" id="owner_Q1_no" value="no">
                                    <label for="owner_Q1_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問您公司自帶電腦或平板的員工，人數比例大約是：
                                    <input type="radio" name="owner_Q1_1" id="owner_Q1_1_1" value="20% 以下">
                                    <label for="owner_Q1_1_1"><b>20% 以下</b></label>
                                    <input type="radio" name="owner_Q1_1" id="owner_Q1_1_2" value="20 - 50%">
                                    <label for="owner_Q1_1_2"><b>20 - 50%</b></label>
                                    <input type="radio" name="owner_Q1_1" id="owner_Q1_1_3" value="50% 以上">
                                    <label for="owner_Q1_1_3"><b>50% 以上</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="gray">
                            <th align="center" valign="top">2</th>
                            <td valign="top">
                                <div class="first">
                                    <b>善變的員工 ──</b>
                                    員工一季換一支手機，說這樣才跟得上時代，不過我總覺得東西好好的還沒壞，就不用換
                                    <input type="radio" class="validate[required] has_children" name="owner_Q2" id="owner_Q2_yes" value="yes">
                                    <label for="owner_Q2_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="owner_Q2" id="owner_Q2_no" value="no">
                                    <label for="owner_Q2_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問您公司是否仍然在使用 Windows XP？
                                    <input type="radio" name="owner_Q2_1" id="owner_Q2_1_1" value="yes">
                                    <label for="owner_Q2_1_1"><b>是</b></label>
                                    <input type="radio" name="owner_Q2_1" id="owner_Q2_1_2" value="no">
                                    <label for="owner_Q2_1_2"><b>否</b></label>
           
                            </td>
                        </tr>
                        <tr>
                            <th align="center" valign="top">3</th>
                            <td valign="top">
                                <div class="first">
                                    <b>不拘小節的員工 ──</b>
                                    員工常把自己的隨身碟隨手亂放，我不想一直嘮叨這種「小事」，卻又擔心裡面其實裝的是公司檔案，
                                    <br />
                                    一旦外流…
                                    <input type="radio" class="validate[required] has_children" name="owner_Q3" id="owner_Q3_yes" value="yes">
                                    <label for="owner_Q3_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="owner_Q3" id="owner_Q3_no" value="no">
                                    <label for="owner_Q3_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請您估計一下，公司檔案大約放在幾支隨身碟、外接硬碟裡？
                                    <input type="radio" name="owner_Q3_1" id="owner_Q3_1_1" value="5 支以下">
                                    <label for="owner_Q3_1_1"><b>5 支以下</b></label>
                                    <input type="radio" name="owner_Q3_1" id="owner_Q3_1_2" value="5~20 支">
                                    <label for="owner_Q3_1_2"><b>5~20 支</b></label>
                                    <input type="radio" name="owner_Q3_1" id="owner_Q3_1_3" value="20 支以上">
                                    <label for="owner_Q3_1_3"><b>20 支以上</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="gray">
                            <th align="center" valign="top">4</th>
                            <td valign="top">
                                <div class="first">
                                    <b>花俏的員工 ──</b>
                                    現在的員工老是想要「時尚」「個人風格」的辦公設備，都不考慮對工作是否實用
                                    <input type="radio" class="validate[required] has_children" name="owner_Q4" id="owner_Q4_yes" value="yes">
                                    <label for="owner_Q4_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="owner_Q4" id="owner_Q4_no" value="no">
                                    <label for="owner_Q4_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問員工是否有將自己的平板或智慧型手機應用於工作？
                                    <input type="radio" name="owner_Q4_1" id="owner_Q4_1_1" value="yes">
                                    <label for="owner_Q4_1_1"><b>是</b></label>
                                    <input type="radio" name="owner_Q4_1" id="owner_Q4_1_2" value="no">
                                    <label for="owner_Q4_1_2"><b>否</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th align="center" valign="top">5</th>
                            <td valign="top">
                                <div>
                                    <b>質疑我的商業直覺的員工 ──</b>
                                    員工很「勇於表達」，難道為了讓他們心服口服，我還要花時間找證據嗎？
                                    <input type="radio" class="validate[required]" name="owner_Q5" id="owner_Q5_yes" value="yes">
                                    <label for="owner_Q5_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required]" name="owner_Q5" id="owner_Q5_no" value="no">
                                    <label for="owner_Q5_no"><b>否</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="gray">
                            <th align="center" valign="top">6</th>
                            <td valign="top">
                                <div class="first">
                                    <b>上班也在FB的員工 ──</b>
                                    公私分明是我的工作觀念，何況員工上社交網站難免影響工作
                                    <input type="radio" class="validate[required] has_children" name="owner_Q6" id="owner_Q6_yes" value="yes">
                                    <label for="owner_Q6_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="owner_Q6" id="owner_Q6_no" value="no">
                                    <label for="owner_Q6_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問您是否覺得客戶使用 FB、Line 等社交平台的比例日漸升高？
                                    <input type="radio" name="owner_Q6_1" id="owner_Q6_1_1" value="yes">
                                    <label for="owner_Q6_1_1"><b>是</b></label>
                                    <input type="radio" name="owner_Q6_1" id="owner_Q6_1_2" value="no">
                                    <label for="owner_Q6_1_2"><b>否</b></label>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="send">
                        <%= f.submit "" %>
                    </div>
                </div>

                <div class="questions manager">
                    <h4> <b>請問老闆</b>
                        員工哪些表現讓您覺得很囧、看不慣？
                    </h4>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="7%" align="center" valign="top">1</th>
                            <td width="93%" valign="top">
                                <div class="first">
                                    <b>難管的員工 ──</b>
                                    公司比較優秀的員工都用自己的電腦工作，資料檔案無法掌控，真可怕
                                    <input type="radio" class="validate[required] has_children" name="manager_Q1" id="manager_Q1_yes" value="yes">
                                    <label for="manager_Q1_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="manager_Q1" id="manager_Q1_no" value="no">
                                    <label for="manager_Q1_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問您公司自帶電腦或平板的員工，人數比例大約是：
                                    <input type="radio" name="manager_Q1_1" id="manager_Q1_1_1" value="20% 以下">
                                    <label for="manager_Q1_1_1"><b>20% 以下</b></label>
                                    <input type="radio" name="manager_Q1_1" id="manager_Q1_1_2" value="20 - 50%">
                                    <label for="manager_Q1_1_2"><b>20 - 50%</b></label>
                                    <input type="radio" name="manager_Q1_1" id="manager_Q1_1_3" value="50% 以上">
                                    <label for="manager_Q1_1_3"><b>50% 以上</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="gray">
                            <th align="center" valign="top">2</th>
                            <td valign="top">
                                <div class="first">
                                    <b>善變的員工 ──</b>
                                    員工一季換一支手機，說這樣才跟得上時代，不過我總覺得東西好好的還沒壞，就不用換
                                    <input type="radio" class="validate[required] has_children" name="manager_Q2" id="manager_Q2_yes" value="yes">
                                    <label for="manager_Q2_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="manager_Q2" id="manager_Q2_no" value="no">
                                    <label for="manager_Q2_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問您公司是否仍然在使用 Windows XP？
                                    <input type="radio" name="manager_Q2_1" id="manager_Q2_1_1" value="yes">
                                    <label for="manager_Q2_1_1"><b>是</b></label>
                                    <input type="radio" name="manager_Q2_1" id="manager_Q2_1_2" value="no">
                                    <label for="manager_Q2_1_2"><b>否</b></label>
           
                            </td>
                        </tr>
                        <tr>
                            <th align="center" valign="top">3</th>
                            <td valign="top">
                                <div class="first">
                                    <b>不拘小節的員工 ──</b>
                                    員工常把自己的隨身碟隨手亂放，我不想一直嘮叨這種「小事」，卻又擔心裡面其實裝的是公司檔案，
                                    <br />
                                    一旦外流…
                                    <input type="radio" class="validate[required] has_children" name="manager_Q3" id="manager_Q3_yes" value="yes">
                                    <label for="manager_Q3_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="manager_Q3" id="manager_Q3_no" value="no">
                                    <label for="manager_Q3_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請您估計一下，公司檔案大約放在幾支隨身碟、外接硬碟裡？
                                    <input type="radio" name="manager_Q3_1" id="manager_Q3_1_1" value="5 支以下">
                                    <label for="manager_Q3_1_1"><b>5 支以下</b></label>
                                    <input type="radio" name="manager_Q3_1" id="manager_Q3_1_2" value="5~20 支">
                                    <label for="manager_Q3_1_2"><b>5~20 支</b></label>
                                    <input type="radio" name="manager_Q3_1" id="manager_Q3_1_3" value="20 支以上">
                                    <label for="manager_Q3_1_3"><b>20 支以上</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="gray">
                            <th align="center" valign="top">4</th>
                            <td valign="top">
                                <div class="first">
                                    <b>花俏的員工 ──</b>
                                    現在的員工老是想要「時尚」「個人風格」的辦公設備，都不考慮對工作是否實用
                                    <input type="radio" class="validate[required] has_children" name="manager_Q4" id="manager_Q4_yes" value="yes">
                                    <label for="manager_Q4_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="manager_Q4" id="manager_Q4_no" value="no">
                                    <label for="manager_Q4_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問員工是否有將自己的平板或智慧型手機應用於工作？
                                    <input type="radio" name="manager_Q4_1" id="manager_Q4_1_1" value="yes">
                                    <label for="manager_Q4_1_1"><b>是</b></label>
                                    <input type="radio" name="manager_Q4_1" id="manager_Q4_1_2" value="no">
                                    <label for="manager_Q4_1_2"><b>否</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th align="center" valign="top">5</th>
                            <td valign="top">
                                <div>
                                    <b>質疑我的商業直覺的員工 ──</b>
                                    員工很「勇於表達」，難道為了讓他們心服口服，我還要花時間找證據嗎？
                                    <input type="radio" class="validate[required]" name="manager_Q5" id="manager_Q5_yes" value="yes">
                                    <label for="manager_Q5_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required]" name="manager_Q5" id="manager_Q5_no" value="no">
                                    <label for="manager_Q5_no"><b>否</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="gray">
                            <th align="center" valign="top">6</th>
                            <td valign="top">
                                <div class="first">
                                    <b>上班也在FB的員工 ──</b>
                                    公私分明是我的工作觀念，何況員工上社交網站難免影響工作
                                    <input type="radio" class="validate[required] has_children" name="manager_Q6" id="manager_Q6_yes" value="yes">
                                    <label for="manager_Q6_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="manager_Q6" id="manager_Q6_no" value="no">
                                    <label for="manager_Q6_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問您是否覺得客戶使用 FB、Line 等社交平台的比例日漸升高？
                                    <input type="radio" name="manager_Q6_1" id="manager_Q6_1_1" value="yes">
                                    <label for="manager_Q6_1_1"><b>是</b></label>
                                    <input type="radio" name="manager_Q6_1" id="manager_Q6_1_2" value="no">
                                    <label for="manager_Q6_1_2"><b>否</b></label>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="send">
                        <%= f.submit "" %>
                    </div>
                </div>

                <div class="questions worker">
                    <h4>
                        <b>請問職人</b>
                        老闆哪些行為讓您覺得很囧、影響工作效率？
                    </h4>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="7%" align="center" valign="top">1</th>
                            <td width="93%" valign="top">
                                <div class="first">
                                    <b>老闆堅持電腦壞了才能換 ──</b>
                                    大家的電腦都好慢，且職人雜誌的 e 化工作效率提升術，都跟我無關，
                                    <br />
                                    因為公司電腦太過老舊
                                    <input type="radio" class="validate[required] has_children" name="worker_Q1" id="worker_Q1_yes" value="yes">
                                    <label for="worker_Q1_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="worker_Q1" id="worker_Q1_no" value="no">
                                    <label for="worker_Q1_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問您的公司是否還在使用 Windows XP？
                                    <input type="radio" class="validate[required]" name="worker_Q1_1" id="worker_Q1_1_yes" value="yes">
                                    <label for="worker_Q1_1_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required]" name="worker_Q1_1" id="worker_Q1_1_no" value="no">
                                    <label for="worker_Q1_1_no"><b>否</b></label>
                                    <br />
                                    請問您是否自帶電腦／平板上班？
                                    <input type="radio" name="worker_Q1_2" id="worker_Q1_2_1" value="yes">
                                    <label for="worker_Q1_2_1"><b>是</b></label>
                                    <input type="radio" name="worker_Q1_2" id="worker_Q1_2_2" value="no">
                                    <label for="worker_Q1_2_2"><b>否</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="gray">
                            <th align="center" valign="top">2</th>
                            <td valign="top">
                                <div>
                                    <b><strong>老闆的生活比工作先進</strong>
                                        ──</b> 
                                    老闆擁有高級的平板或智慧手機，但只是拿來娛樂用
                                    <input type="radio" class="validate[required]" name="worker_Q2" id="worker_Q2_yes" value="yes">
                                    <label for="worker_Q2_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required]" name="worker_Q2" id="worker_Q2_no" value="no">
                                    <label for="worker_Q2_no"><b>否</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th align="center" valign="top">3</th>
                            <td valign="top">
                                <div class="first">
                                    <b>老闆就是疑神疑鬼 ──</b>
                                    看到我們上社群網站就覺得我們在摸魚，可是我們需要關注客戶動態啊！
                                    <input type="radio" class="validate[required] has_children" name="worker_Q3" id="worker_Q3_yes" value="yes">
                                    <label for="worker_Q3_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="worker_Q3" id="worker_Q3_no" value="no">
                                    <label for="worker_Q3_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問您會在社群網站與客戶互動嗎？
                                    <input type="radio" name="worker_Q3_1" id="worker_Q3_1_1" value="是的，經常">
                                    <label for="worker_Q3_1_1"><b>是的，經常</b></label>
                                    <input type="radio" name="worker_Q3_1" id="worker_Q3_1_2" value="是的，有時候">
                                    <label for="worker_Q3_1_2"><b>是的，有時候</b></label>
                                    <input type="radio" name="worker_Q3_1" id="worker_Q3_1_3" value="不會">
                                    <label for="worker_Q3_1_3"><b>不會</b></label>
                                    <br />
                                    請問您上班時需要上社群網站來幫助工作嗎？
                                    <input type="radio" name="worker_Q3_2" id="worker_Q3_2_1" value="是，我需要對客戶、工作夥伴的社群訊息保持關注">
                                    <label for="worker_Q3_2_1"><b>是，我需要對客戶、工作夥伴的社群訊息保持關注</b></label>
                                    <input type="radio" name="worker_Q3_2" id="worker_Q3_2_2" value="不太需要">
                                    <label for="worker_Q3_2_2"><b>不太需要</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="gray">
                            <th align="center" valign="top">4</th>
                            <td valign="top">
                                <div class="first">
                                    <b>老闆對開會有執念  ──</b>
                                    不管大小事，老闆都要「開個會」，每次趕回公司開會的交通時間和費用，其實都是一種浪費
                                    <input type="radio" class="validate[required] has_children" name="worker_Q4" id="worker_Q4_yes" value="yes">
                                    <label for="worker_Q4_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="worker_Q4" id="worker_Q4_no" value="no">
                                    <label for="worker_Q4_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問您每週開會時間累計大約：
                                    <input type="radio" name="worker_Q4_1" id="worker_Q4_1_1" value="5小時以下">
                                    <label for="worker_Q4_1_1"><b>5小時以下</b></label>
                                    <input type="radio" name="worker_Q4_1" id="worker_Q4_1_2" value="5～15 小時">
                                    <label for="worker_Q4_1_2"><b>5～15 小時</b></label>
                                    <input type="radio" name="worker_Q4_1" id="worker_Q4_1_3" value="15 小時以上">
                                    <label for="worker_Q4_1_3"><b>15 小時以上</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th align="center" valign="top">5</th>
                            <td valign="top">
                                <div class="first">
                                    <b>老闆不信任新科技 ──</b>
                                    老闆總認為新東西不可靠，而忽略舊東西容易出事的風險
                                    <input type="radio" class="validate[required] has_children" name="worker_Q5" id="worker_Q5_yes" value="yes">
                                    <label for="worker_Q5_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required] hide_children" name="worker_Q5" id="worker_Q5_no" value="no">
                                    <label for="worker_Q5_no"><b>否</b></label>
                                </div>
                                <div class="second">
                                    請問貴公司這兩年內是否有爆發電腦中毒事件：
                                    <input type="radio" name="worker_Q5_1" id="worker_Q5_1_1" value="yes">
                                    <label for="worker_Q5_1_1"><b>是</b></label>
                                    <input type="radio" name="worker_Q5_1" id="worker_Q5_1_2" value="no">
                                    <label for="worker_Q5_1_2"><b>否</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr class="gray">
                            <th align="center" valign="top">6</th>
                            <td valign="top">
                                <div>
                                    <b>老闆喜歡喊口號創新 ──</b>
                                    可是公司電腦很老舊…希望老闆能在創新上做一些實質的投資
                                    <input type="radio" class="validate[required]" name="worker_Q6" id="worker_Q6_yes" value="yes">
                                    <label for="worker_Q6_yes"><b>是</b></label>
                                    <input type="radio" class="validate[required]" name="worker_Q6" id="worker_Q6_no" value="no">
                                    <label for="worker_Q6_no"><b>否</b></label>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="send">
                        <%= f.submit "" %>
                    </div>
                </div>
            </div>
        </div>
        <!--article-->
        <% end %>
    </div>
</body>

<script type="text/javascript">
  $(document).ready(function(){
    var iframeExt = $.iframeHeightExternal();

    var _showTab = 0;
    var $defaultLi = $('#tab ul li').eq(_showTab);

    $('#tab ul li').click(function(e) {
        e.preventDefault();
        //iframeExt.update();

        var $this = $(this),
        _clickTab = $this.find('a');

        $this.addClass('active').siblings('.active').removeClass('active');   
        $(_clickTab.attr('href')).stop(false, true).fadeIn(1000).siblings().hide();

        $("#record_user_type").val( _clickTab.data("value") );

        return false;
    }).find('a').focus(function(){
        this.blur();
    });

    var form = $("form#new_record");
form.validationEngine();

$("input.has_children, input.hide_children").change(function(){
    var $this = $(this)
    if( $this.is(":checked") ){
        switch($this.is(".has_children")) {
            case true:
            $this.parent().next('.second').stop().show(500, function(){
            //iframeExt.update();
        }).children("input").addClass("validate[required]");
            break;

            case false:
            $this.parent().next('.second').stop().hide(500, function(){
            //iframeExt.update();
        }).children("input").removeClass("validate[required]").prop("checked", false);
            break;
        }
    }
});

form.submit(function(){
    var answerObj = new Object();
    var answers = $(".questions:visible input[type='radio']:checked");

    answers.each(function(){
        answerObj[$(this).prop("name")] = $(this).val();
    });

    answerObj.yes_count = answers.filter( "[value='yes']" ).length;
    
    var input_record_answer = $("<input>").attr("type", "hidden").attr("name", "record[answer]").val( JSON.stringify(answerObj) );
    var input_record_type = $("<input>").attr("type", "hidden").attr("name", "from").val("iframe");

    form.append(input_record_answer).append(input_record_type);
    
    // return false;
    return $(this).validationEngine('validate');
});

  });
  </script>
</html>

